body{font-family: 'Source Sans Pro', sans-serif;
     margin: 0px;}

h1{font-size: 55px;}

h3{margin-top: 7%;}

.welcome-text{border-left: 5px solid firebrick;
             border-radius:5px; padding-left: 15px; }

.red-color{color: rgb(196, 5, 5);}

section{display: flex;}

.half-width{width: 50%; padding-left: 10%;}

.half-width img{width:70%; margin-top: 100px;}

.button-link{text-decoration: none;
     background-color: rgb(16, 16, 131);
    color: rgb(252, 255, 255);
     padding: 10px 40px; font-weight: 700;
    border-radius: 10px;}

.button-link:hover{ background-color: rgb(201, 0, 0);
                    transition: 0.4s; }

p{margin-bottom: 30px;}   



footer{ background-color: rgba(3, 0, 0, 0.877); 
        padding: 25px; }

footer p{color:rgb(141, 141, 141); text-align:center;
     margin-top: 20px;}
footer h2{ text-align:center; font-family:fantasy;
    font-size: 2em;}        