body{font-family: 'Source Sans Pro', sans-serif;
     margin: 0px;}

h1{font-size: 55px;}
h2{font-size: 3em;}
h3{margin-top: 7%;}

.welcome-text{border-left: 5px solid firebrick;
             border-radius:5px; padding-left: 15px;margin-top: 80px; }

.red-color{color: rgb(196, 5, 5);}

.flexible-container{display: flex;}

.half-width{width: 50%; padding-left: 10%;}

.half-width img{width:70%; margin-top: 100px;}

.button-link{text-decoration: none;
     background-color: rgb(16, 16, 131);
    color: rgb(252, 255, 255);
     padding: 10px 40px; font-weight: 700;
    border-radius: 10px;}

.button-link:hover{ background-color: rgb(201, 0, 0);
                    transition: 0.4s; }

p{margin-bottom: 30px;}   



.motto {text-align: center; margin-top: 100px;}
.card-mission{background-color:rgba(95, 158, 160, 0.158);
     padding:0 10px 0 30px; margin: 50px;border-radius: 20px;}
.card-mission img{width: 50%;}
.card-vission{background-color:rgba(175, 90, 142, 0.158);
     padding:0 10px 0 30px;margin: 50px;border-radius: 20px;}
.card-vission img{width: 50%;}
.card-goals{background-color:rgba(243, 161, 7, 0.158);
     padding:0 10px 0 30px;margin: 50px;border-radius: 20px;}
.card-goals img{width: 50%;}


footer{ background-color: rgba(3, 0, 0, 0.877); 
        padding: 25px; }

footer h2{ text-align:center; font-family:fantasy;
font-size: 2em; font-style: italic;} 

footer p{color:rgb(141, 141, 141); text-align:center;
     margin-top: 20px;}